<h1>Flights from @Model["CityName"].GetCity()</h1>
<p>-------------------------------------------</p>
@foreach(var flight in @Model["FindFlightsByCity"])
{
<h4>Flight Number: @flight.GetFlightNumber()</h4>
<h4>Depart Time: @flight.GetDepartTime()</h4>
<!-- <h4>@flight.GetDepartId()</h4>
<h4>@flight.GetArriveId()</h4> -->
<h4>Flight Status: @flight.GetStatus()</h4>
<!-- <h4>@flight.GetId()</h4> -->
<p>-------------------------------------------</p>
}
<ul>
<li><a href='/flights/new'>Add Flight</a></li>
<li><a href='/cities'>Return<a/></li>
</ul>
